body{
    background-color: blueviolet;
}
/* Assegna lo stile anl navbar */
.navbar {
    width: 100%;
    background-color: #292929;
    overflow: auto;
  }
  
  /* stile dei link */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* gestiamo l'evento del mouse o */
  .navbar a:hover {
    background-color: #2c8d23;
  }
  
  /* Attuale/attivo link navBar */
  .active {
    background-color: #1504aa;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }